---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

// Iconos
import Twitter from '@components/Twitter.astro'
import Facebook from '@components/Facebook.astro'
import Whatsapp from '@components/Whatsapp.astro'
import Instagram from '@components/Instagram.astro'

const people = await getCollection('people')
---

<Layout title='Lawyer'>
  <header class='bg-slate-800/50 p-5 fixed top-0 left-0 w-full flex justify-between'>
    <span class='text-white'>Empresa</span>
    <div class='flex gap-x-4 text-white text-2xl'>
      <Whatsapp />
      <Twitter />
      <Facebook />
      <Instagram />
    </div>
  </header>

  <main>
    <section class='flex flex-col justify-center items-center sm:justify-end sm:items-end p-6 bg-law-pattern bg-no-repeat bg-cover min-h-screen'>
      <h1 class='text-center sm:text-right text-white text-6xl font-bold w-2/4'>
        <span class='text-green-400'>Tú sueñas</span> nosotros lo hacemos
      </h1>
    </section>

    <section class='flex flex-col sm:flex-row min-h-screen p-4 justify-center items-center bg-slate-50 gap-4'>
      <article class='flex flex-col gap-y-4 flex-grow justify-center items-center'>
        <img class='rounded-md w-96 h-64' src="/card-1.jpg">
        <button class='bg-green-600 inline-block px-6 py-2 cursor-pointer text-white text-center rounded-md'>Adquiere Nuestros Servicios</button>
      </article>
      <article class='flex flex-col gap-y-4 flex-grow justify-center items-center'>
        <img class='rounded-md w-96 h-64' src="/card-2.jpg">
        <button class='bg-green-600 inline-block px-6 py-2 cursor-pointer text-white text-center rounded-md'>Trabaja con Nosotros</button>
      </article>
    </section>

    <section class='flex flex-col p-4 min-h-screen gap-y-5 items-center justify-center'>
      <h2 class='text-green-400 font-extrabold text-center text-7xl'>Sobre Nosotros</h2>
      <p class='text-center text-gray-400 text-xl w-5/6'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deserunt id sunt tempora assumenda vero cumque, laborum optio impedit, dignissimos mollitia labore laboriosam minima animi voluptatem, quas perferendis debitis iusto.</p>
    </section>

    <section class='p-4 min-h-screen'>
      <div class='bg-green-500 rounded-md p-4 flex flex-col gap-y-2'>
        <article class='flex flex-col gap-y-4 p-8'>
          <h3 class='text-white text-5xl font-extrabold'>Nuestra Misión</h3>
          <p class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam alias et sit rem voluptatibus, fuga quaerat modi ipsum quae, deserunt, nam consequatur nobis saepe! Neque quae doloremque voluptate necessitatibus reprehenderit!</p>
        </article>

        <article class='flex flex-col gap-y-4 p-8'>
          <h3 class='text-white text-5xl font-extrabold'>Nuestra Visión</h3>
          <p class='text-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam alias et sit rem voluptatibus, fuga quaerat modi ipsum quae, deserunt, nam consequatur nobis saepe! Neque quae doloremque voluptate necessitatibus reprehenderit!</p>
        </article>
      </div>
    </section>

    <section class='flex flex-col p-4 min-h-screen gap-y-5 items-center justify-center'>
      <h2 class='text-green-400 font-extrabold text-center text-7xl'>Nuestras Lideres</h2>
      <div class='p-8 flex flex-col gap-5'>
        {
          people.map(element => {
            const { data } = element
            const { name, description, subDescription, slogan, image, phone } = data
          
            return (
              <article class='bg-slate-200 rounded-md p-8 flex flex-col sm:flex-row gap-4'>
                <div class='flex flex-col gap-4 justify-center'>
                  <img src={`/${image}.jpg`} class='w-full sm:m-w-48 sm:m-h-64 rounded-md' />
                </div>
                
                <div class='flex flex-col p-6 gap-6 sm:gap-2'>
                  <div class='flex flex-col gap-2'>
                    <h2 class='text-green-400 text-center sm:text-left font-extrabold text-3xl'>{name}</h2>
                    <p class='text-xl text-gray-500 text-center sm:text-left'>
                      <span class='text-gray-500 text-2xl'>‟</span>
                        {slogan}
                      <span class='text-gray-500 text-2xl'>„</span>
                    </p>
                  </div>

                  <div class='flex flex-col gap-2'>
                    <p class='text-gray-500 text-justify sm:text-left'>{description}</p>
                    <p class='text-gray-500 text-justify sm:text-left'>{subDescription}</p>
                  </div>
                </div>
              </article>
            )
          })
        }
      </div>
    </section>
  </main>

  <footer class='bg-green-600 p-6 text-white flex flex-col gap-4'>
    <h4 class='font-extrabold text-2xl'>Contactanos</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur nesciunt quas laudantium ab animi iusto eius beatae aliquid vel dicta ut accusantium</p>
    <div class='p-4'>
      <span class='text-center block'>© 2024 Empresa</span>
    </div>
  </footer>
</Layout>
