---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

// Iconos
import Twitter from '@components/Twitter.astro'
import Facebook from '@components/Facebook.astro'
import Whatsapp from '@components/Whatsapp.astro'
import Instagram from '@components/Instagram.astro'

const people = await getCollection('people')
---

<Layout title="Legal Company Inc.">
	<nav class="flex items-center justify-evenly sm:justify-normal p-4 bg-slate-800 text-slate-100 text-2xl gap-6">
		<span title="Facebook">
			<Facebook />
		</span>
		<span title="Whatsapp">
			<Whatsapp />
		</span>
		<span title="Instagram">
			<Instagram />
		</span>
		<span title="Twitter">
			<Twitter />
		</span>
	</nav>

	<main class="flex flex-col">
		<section class="flex flex-col justify-center items-center gap-7 min-h-screen p-10 bg-law-pattern bg-cover bg-center text-slate-100">
			<h1 class="font-light text-center text-5xl md:text-7xl">Legal Company</h1>
			<i class="text-3xl text-center">"Tu socio legal de confianza"</i>
			<p class="w-5/6 text-center">En Legal Company Inc., llevamos más de 10 años brindando soluciones legales personalizadas y efectivas a nuestros clientes. Somos un equipo de abogados altamente calificados y especializados en diversas áreas del derecho, como civil, penal, laboral y familiar.</p>
			<button class="px-4 py-2 border-slate-100 border-2 rounded-lg uppercase tracking-wider hover:scale-110 hover:bg-slate-100 hover:text-slate-600 transition-all">Contactanos</button>
		</section>
		
		<section class="flex flex-col gap-8 p-10">
			<article class="flex flex-col sm:flex-row items-center gap-5 sm:gap-1 bg-slate-100 rounded p-4">
				<img src="/card-1.jpg" alt="Casa Legal" class="w-96 h-auto rounded">
				<div class="flex flex-col gap-3 justify-center items-center">
					<h2 class="text-5xl font-medium">Casa Legal</h2>
					<p class="text-slate-500 w-3/4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ea alias id. Sequi unde assumenda ducimus iste obcaecati numquam tempora! Unde facere repellendus impedit sunt harum quam fugit voluptatum eum.</p>
				</div>
			</article>

			<article class="flex flex-col sm:flex-row-reverse items-center gap-5 sm:gap-1 bg-slate-100 rounded p-4">
				<img src="/card-2.jpg" alt="Casa Legal" class="w-96 h-auto rounded">
				<div class="flex flex-col gap-3 justify-center items-center">
					<h2 class="text-5xl font-medium">Mediadores</h2>
					<p class="text-slate-500 w-3/4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ea alias id. Sequi unde assumenda ducimus iste obcaecati numquam tempora! Unde facere repellendus impedit sunt harum quam fugit voluptatum eum.</p>
				</div>
			</article>
		</section>

		<section class="flex flex-col gap-4 bg-slate-100 min-w-full p-10">
			<h2 class="text-5xl font-light text-center">Abogados</h2>
			<div class="flex flex-col gap-6">
				{
					people.map(element => {
						const { id, data } = element
						const { name, description, image, phone } = data

						return (
							<a href={`/people/${id}`}>
								<article class="flex flex-col sm:flex-row items-center gap-1 bg-slate-200 rounded border-2 border-slate-200 p-2 hover:scale-105 transition-all cursor-pointer">
									<img class="w-48 h-auto rounded-lg object-cover" src={`/${image}.jpg`} alt={`${name}`} transition:name={`img-${id}`}>
									<div class="flex flex-col justify-center items-center gap-2">
										<h3 class="text-4xl font-medium text-center sm:text-left">{name}</h3>
										<span class="flex gap-1 items-center text-lg text-green-600 justify-center sm:justify-normal">
											<Whatsapp />
											{phone}
										</span>
										<p class="text-slate-500 w-3/4 text-center">{description}</p>
									</div>
								</article>
							</a>
						)
					})
				}
			</div>
		</section>
	</main>

	<footer class="flex items-center justify-center p-4 bg-slate-800 text-slate-100">
		<span>Legal Company Inc. ©</span>
	</footer>
</Layout>